body {
  font-family: "Satoshi", sans-serif;
}

.header__promo-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  width: 100%;
}
.header__promo-bar .header-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 38px;
  width: 80%;
}
.header__promo-bar .header-top p {
  font-family: Satoshi;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-decoration-style: solid;
  color: rgba(255, 255, 255, 0.7137254902);
}
@media (min-width: 344px) {
  .header__promo-bar .header-top p {
    font-size: 9px;
  }
}
.header__promo-bar .header-top .sign-up a {
  margin-left: 5px;
  text-decoration: underline;
  color: #FFFFFF;
}
.header__promo-bar .header-top a {
  width: 20px;
  height: 20px;
}
.header__promo-bar .header-top a i {
  font-size: 20px;
  color: #FFFFFF;
  position: absolute;
  right: 8rem;
}
@media (max-width: 767px) {
  .header__promo-bar .header-top a i {
    right: -1rem;
  }
}

.header {
  border-bottom: 1px solid #BEBCBD;
  padding: 20px 0;
  box-shadow: #807D7E 0px 0px 2px;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 90px;
  }
}
@media (max-width: 768px) {
  .header .container .row {
    gap: 72px;
  }
}
@media (max-width: 576px) {
  .header .container .row {
    gap: 53px;
  }
}
.header .container .row .hidden-desktop {
  display: none;
}
@media (max-width: 768px) {
  .header .container .row .hidden-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .header .container .row .hidden-desktop .header__menu-toggle {
    cursor: pointer;
    padding: 8px 10px;
    border: 2px solid #807D7E;
    border-radius: 8px;
  }
}
.header .container .row .logo {
  width: 91px;
}
@media (max-width: 768px) {
  .header .container .row .logo {
    margin-left: 10px;
  }
}
@media (max-width: 992px) {
  .header .container .row .logo {
    display: flex;
    justify-content: center;
  }
}
.header .container .row .header-menu {
  padding-top: 10px;
}
@media (max-width: 900px) {
  .header .container .row .header-menu {
    position: absolute;
    top: 15%;
    left: -100%;
    right: auto;
    z-index: 20;
    background-color: #666;
    transition: all 0.4s linear;
    padding: 15px;
    width: 100%;
  }
}
.header .container .row .header-menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
@media (min-width: 344px) {
  .header .container .row .header-menu ul {
    gap: 12px;
  }
}
@media (min-width: 1400px) {
  .header .container .row .header-menu ul {
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .header .container .row .header-menu ul {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .header .container .row .header-menu ul li:last-child a {
    border: none;
  }
}
.header .container .row .header-menu ul li a {
  text-decoration: none;
  color: #807D7E;
  font-weight: 600;
  font-size: 20px;
  font-family: "Nunito Sans";
}
@media (max-width: 768px) {
  .header .container .row .header-menu ul li a {
    display: block;
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
  }
}
.header .container .row .header-menu ul li:nth-child(3) a {
  color: #3C4242;
}
@media (max-width: 768px) {
  .header .container .row .header-menu ul li:nth-child(3) a {
    color: #fff;
  }
}
.header .container .row .header__menu-mobile input[type=checkbox], .header .container .content .row .header__menu-mobile .product-oder .oder-main .product-oder__list .discount-code [type=checkbox].btn-apply, .content .header .container .row .header__menu-mobile .product-oder .oder-main .product-oder__list .discount-code [type=checkbox].btn-apply, .header .container .content .row .product-oder .oder-main .product-oder__list .discount-code .header__menu-mobile [type=checkbox].btn-apply, .content .header .container .row .product-oder .oder-main .product-oder__list .discount-code .header__menu-mobile [type=checkbox].btn-apply {
  display: none;
}
.header .container .row .header__menu-mobile input[type=checkbox]:checked ~ .header-menu, .header .container .content .row .header__menu-mobile .product-oder .oder-main .product-oder__list .discount-code [type=checkbox].btn-apply:checked ~ .header-menu, .content .header .container .row .header__menu-mobile .product-oder .oder-main .product-oder__list .discount-code [type=checkbox].btn-apply:checked ~ .header-menu, .header .container .content .row .product-oder .oder-main .product-oder__list .discount-code .header__menu-mobile [type=checkbox].btn-apply:checked ~ .header-menu, .content .header .container .row .product-oder .oder-main .product-oder__list .discount-code .header__menu-mobile [type=checkbox].btn-apply:checked ~ .header-menu {
  left: 0;
  right: 0;
}
@media (max-width: 768px) {
  .header .container .row .header__menu-mobile {
    order: 1;
  }
}
.header .container .row .hidden-search .search {
  display: flex;
  width: 90%;
  background: #F6F6F6;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
@media (min-width: 344px) {
  .header .container .row .hidden-search .search {
    display: none;
  }
}
@media (min-width: 430px) {
  .header .container .row .hidden-search .search {
    display: none;
  }
}
@media (min-width: 480px) {
  .header .container .row .hidden-search .search {
    display: flex;
  }
}
@media (min-width: 1095px) {
  .header .container .row .hidden-search .search {
    display: flex;
  }
}
.header .container .row .hidden-search .search i {
  width: 20px;
  height: 20px;
  padding-right: 8px;
  color: #807D7E;
}
.header .container .row .hidden-search .search i:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.header .container .row .hidden-search .search .search-input {
  width: 100%;
  font-size: 16px;
  color: #807D7E;
  background-color: #F6F6F6;
  font-weight: 400;
  margin-left: 10px;
  border: none;
}
@media (max-width: 768px) {
  .header .container .row .hidden-icon {
    display: none;
  }
}
.header .container .row .hidden-icon .icon {
  display: flex;
  gap: 10px;
}
@media (max-width: 1200px) {
  .header .container .row .hidden-icon .icon {
    display: none;
  }
}
.header .container .row .hidden-icon .icon a {
  border-radius: 8px;
  padding: 12px 16px;
  background: #F6F6F6;
}
.header .container .row .hidden-icon .icon a:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.header .container .row .hidden-icon .icon a i {
  color: #807D7E;
}

.content {
  margin-top: 50px;
}
.content .header-content h3 {
  margin-bottom: 30px;
}
.content .header-content h3 a {
  text-decoration: none;
}
.content .header-content h3 a span {
  color: rgba(0, 0, 0, 0.6);
}
.content .header-content h3 i {
  color: rgba(0, 0, 0, 0.6);
}
.content .header-content h1 {
  color: #000000;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 40px;
  margin-bottom: 20px;
}
@media (min-width: 344px) {
  .content .row {
    gap: 30px;
  }
}
@media (min-width: 769px) {
  .content .row {
    gap: 0;
  }
}
.content .row .product-list {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px;
  padding: 20px;
}
.content .row .product-list .product-list__one, .content .row .product-list .product-list__three, .content .row .product-list .product-list__two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.content .row .product-list .product-list__one img, .content .row .product-list .product-list__three img, .content .row .product-list .product-list__two img {
  width: 124px;
  height: 124px;
  border-radius: 12px;
}
.content .row .product-list .product-list__one .product-item__info, .content .row .product-list .product-list__three .product-item__info, .content .row .product-list .product-list__two .product-item__info {
  position: relative;
  width: 75%;
}
.content .row .product-list .product-list__one .product-item__info h4, .content .row .product-list .product-list__three .product-item__info h4, .content .row .product-list .product-list__two .product-item__info h4 {
  font-weight: 700;
}
.content .row .product-list .product-list__one .product-item__info span, .content .row .product-list .product-list__three .product-item__info span, .content .row .product-list .product-list__two .product-item__info span {
  color: #807D7E;
}
.content .row .product-list .product-list__one .product-item__info h3, .content .row .product-list .product-list__three .product-item__info h3, .content .row .product-list .product-list__two .product-item__info h3 {
  font-size: 2vh;
}
.content .row .product-list .product-list__one .product-item__info .trash, .content .row .product-list .product-list__three .product-item__info .trash, .content .row .product-list .product-list__two .product-item__info .trash {
  position: absolute;
  right: 0;
  top: 0;
  color: #FF3333;
  cursor: pointer;
}
.content .row .product-list .product-list__one .product-item__info .quantity, .content .row .product-list .product-list__three .product-item__info .quantity, .content .row .product-list .product-list__two .product-item__info .quantity {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #F0F0F0;
  padding: 8px 24px;
  border-radius: 62px;
}
@media (min-width: 344px) {
  .content .row .product-list .product-list__one .product-item__info .quantity, .content .row .product-list .product-list__three .product-item__info .quantity, .content .row .product-list .product-list__two .product-item__info .quantity {
    padding: 0.3rem 0.9rem;
  }
}
.content .row .product-list .product-list__one .product-item__info .quantity button, .content .row .product-list .product-list__three .product-item__info .quantity button, .content .row .product-list .product-list__two .product-item__info .quantity button {
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.content .row .product-list .product-list__two {
  padding-top: 20px;
}
.content .row .product-list .product-list__three {
  border: none;
  padding-top: 20px;
  padding-bottom: 0px;
}
.content .row .product-oder .oder-main {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px;
}
.content .row .product-oder .oder-main h2 {
  margin-bottom: 30px;
}
.content .row .product-oder .oder-main .product-oder__list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding: 20px;
  border-bottom: none;
}
.content .row .product-oder .oder-main .product-oder__list .oder-price {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.content .row .product-oder .oder-main .product-oder__list .oder-price .subtotal, .content .row .product-oder .oder-main .product-oder__list .oder-price .delivery-fee, .content .row .product-oder .oder-main .product-oder__list .oder-price .discount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content .row .product-oder .oder-main .product-oder__list .oder-price .subtotal p, .content .row .product-oder .oder-main .product-oder__list .oder-price .delivery-fee p, .content .row .product-oder .oder-main .product-oder__list .oder-price .discount p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}
.content .row .product-oder .oder-main .product-oder__list .oder-price .subtotal .subtotal-price, .content .row .product-oder .oder-main .product-oder__list .oder-price .delivery-fee .subtotal-price, .content .row .product-oder .oder-main .product-oder__list .oder-price .discount .subtotal-price {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.content .row .product-oder .oder-main .product-oder__list .oder-price .discount span {
  color: #FF3333;
  font-weight: 700;
}
.content .row .product-oder .oder-main .product-oder__list .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}
.content .row .product-oder .oder-main .product-oder__list .total p {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.content .row .product-oder .oder-main .product-oder__list .total .subtotal-price {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
.content .row .product-oder .oder-main .product-oder__list .discount-code {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.content .row .product-oder .oder-main .product-oder__list .discount-code i {
  bottom: 10px;
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 20px;
  font-size: 24px;
}
.content .row .product-oder .oder-main .product-oder__list .discount-code input, .content .row .product-oder .oder-main .product-oder__list .discount-code .btn-apply {
  background-color: #F0F0F0;
  padding: 16px 54px;
  border: none;
  border-radius: 62px;
  width: 70%;
}
@media (min-width: 344px) {
  .content .row .product-oder .oder-main .product-oder__list .discount-code input, .content .row .product-oder .oder-main .product-oder__list .discount-code .btn-apply {
    padding: 1rem 3rem;
  }
}
.content .row .product-oder .oder-main .product-oder__list .discount-code .btn-apply {
  background: #000000;
  color: #FFFFFF;
  border-radius: 62px;
  cursor: pointer;
  width: 30%;
}
@media (min-width: 344px) {
  .content .row .product-oder .oder-main .product-oder__list .discount-code .btn-apply {
    display: flex;
    justify-content: center;
  }
}
.content .row .product-oder .oder-main .product-oder__list .btn-Checkout {
  background: #000000;
  color: #FFFFFF;
  border-radius: 62px;
  padding: 16px 0px;
  cursor: pointer;
}
.content .row .product-oder .oder-main .product-oder__list .btn-Checkout i {
  padding-left: 5px;
  font-size: 16px;
}

footer {
  margin-top: 50px;
  background-color: #3C4242;
  height: 550px;
  color: #F6F6F6;
  font-family: "Nunito Sans", sans-serif;
}
@media (max-width: 768px) {
  footer {
    height: 850px;
  }
}
@media (min-width: 344px) {
  footer {
    height: 50rem;
  }
}
@media (min-width: 992px) {
  footer {
    height: 55rem;
  }
}
@media (min-width: 993px) {
  footer {
    height: 35rem;
  }
}
footer .container {
  height: 480px;
  border-bottom: 1px solid #BEBCBD;
}
@media (max-width: 768px) {
  footer .container {
    height: 850px;
  }
}
@media (min-width: 344px) {
  footer .container {
    height: 50rem;
  }
}
@media (min-width: 769px) {
  footer .container {
    height: 46rem;
  }
}
@media (min-width: 992px) {
  footer .container {
    height: 51rem;
  }
}
@media (min-width: 993px) {
  footer .container {
    height: 31rem;
  }
}
@media (min-width: 1200px) {
  footer .container {
    height: 31rem;
  }
}
footer .container .footer-main {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 450px;
}
@media (max-width: 768px) {
  footer .container .footer-main {
    margin-bottom: 30px;
    height: 750px;
  }
}
@media (min-width: 344px) {
  footer .container .footer-main {
    height: 44rem;
  }
}
@media (min-width: 992px) {
  footer .container .footer-main {
    height: 49rem;
  }
}
@media (min-width: 992px) {
  footer .container .footer-main {
    height: 49rem;
  }
}
@media (min-width: 993px) {
  footer .container .footer-main {
    height: 29rem;
  }
}
footer .container .footer-main .need-help, footer .container .footer-main .location, footer .container .footer-main .more-info, footer .container .footer-main .company {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}
footer .container .footer-main .need-help h2, footer .container .footer-main .location h2, footer .container .footer-main .more-info h2, footer .container .footer-main .company h2 {
  margin-bottom: 10px;
}
@media (min-width: 344px) {
  footer .container .footer-main .need-help h2, footer .container .footer-main .location h2, footer .container .footer-main .more-info h2, footer .container .footer-main .company h2 {
    font-size: 1rem;
  }
}
@media (min-width: 576px) {
  footer .container .footer-main .need-help h2, footer .container .footer-main .location h2, footer .container .footer-main .more-info h2, footer .container .footer-main .company h2 {
    font-size: 24px;
  }
}
footer .container .footer-main .need-help h4, footer .container .footer-main .location h4, footer .container .footer-main .more-info h4, footer .container .footer-main .company h4 {
  font-weight: 300;
  font-size: 18px;
}
@media (min-width: 344px) {
  footer .container .footer-main .need-help h4, footer .container .footer-main .location h4, footer .container .footer-main .more-info h4, footer .container .footer-main .company h4 {
    font-size: 0.8rem;
  }
}
@media (min-width: 576px) {
  footer .container .footer-main .need-help h4, footer .container .footer-main .location h4, footer .container .footer-main .more-info h4, footer .container .footer-main .company h4 {
    font-size: 16px;
  }
}
footer .container .footer-main .need-help .footer-icon, footer .container .footer-main .location .footer-icon, footer .container .footer-main .more-info .footer-icon, footer .container .footer-main .company .footer-icon {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 0;
}
@media (max-width: 768px) {
  footer .container .footer-main .need-help .footer-icon, footer .container .footer-main .location .footer-icon, footer .container .footer-main .more-info .footer-icon, footer .container .footer-main .company .footer-icon {
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 344px) {
  footer .container .footer-main .need-help .footer-icon, footer .container .footer-main .location .footer-icon, footer .container .footer-main .more-info .footer-icon, footer .container .footer-main .company .footer-icon {
    top: 45%;
    left: 0;
  }
}
@media (min-width: 576px) {
  footer .container .footer-main .need-help .footer-icon, footer .container .footer-main .location .footer-icon, footer .container .footer-main .more-info .footer-icon, footer .container .footer-main .company .footer-icon {
    top: 49%;
    left: 0;
  }
}
@media (min-width: 992px) {
  footer .container .footer-main .need-help .footer-icon, footer .container .footer-main .location .footer-icon, footer .container .footer-main .more-info .footer-icon, footer .container .footer-main .company .footer-icon {
    top: 77%;
    left: 0;
  }
}
footer .container .footer-main .need-help .footer-icon img, footer .container .footer-main .location .footer-icon img, footer .container .footer-main .more-info .footer-icon img, footer .container .footer-main .company .footer-icon img {
  border-radius: 10px;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
footer .container .footer-main .need-help .footer-icon img:hover, footer .container .footer-main .location .footer-icon img:hover, footer .container .footer-main .more-info .footer-icon img:hover, footer .container .footer-main .company .footer-icon img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 344px) {
  footer .container .footer-main .need-help .footer-icon img, footer .container .footer-main .location .footer-icon img, footer .container .footer-main .more-info .footer-icon img, footer .container .footer-main .company .footer-icon img {
    width: 1.7rem;
    height: 1.7rem;
  }
}
@media (min-width: 576px) {
  footer .container .footer-main .need-help .footer-icon img, footer .container .footer-main .location .footer-icon img, footer .container .footer-main .more-info .footer-icon img, footer .container .footer-main .company .footer-icon img {
    width: 33px;
    height: 33px;
  }
}
footer .container .footer-main .location {
  padding-left: 10px;
}
footer .container .footer-main .location .location-bottom {
  position: absolute;
  bottom: 0;
}
@media (min-width: 344px) {
  footer .container .footer-main .location .location-bottom {
    bottom: 40px;
  }
}
@media (min-width: 576px) {
  footer .container .footer-main .location .location-bottom {
    bottom: 0;
  }
}
footer .container .footer-main .location .location-bottom h1 {
  margin-bottom: 24px;
}
footer .container .footer-main .location .location-bottom .footer-images {
  display: flex;
  align-items: center;
  gap: 30px;
}
footer .container .footer-main .location .location-bottom .footer-images img {
  width: 153px;
  height: 51px;
  object-fit: cover;
  cursor: pointer;
}
footer .container .footer-main .location .location-bottom .footer-images img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 344px) {
  footer .container .footer-main .location .location-bottom .footer-images img {
    width: 134px;
    height: 51px;
  }
}
footer .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-top: 24px;
}
@media (max-width: 768px) {
  footer .footer-bottom {
    height: 60px;
    border-top: 1px solid #BEBCBD;
  }
}
@media (min-width: 344px) {
  footer .footer-bottom {
    font-size: 11px;
  }
}
@media (min-width: 576px) {
  footer .footer-bottom {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  footer .footer-bottom {
    font-size: 16px;
  }
}/*# sourceMappingURL=carts.css.map */