$primaryColor: #3C4242; // Màu chính , headingColor

$textColor: #807D7E; // Màu chữ

$fontSize: 16px; // Kích thước font chữ

$background: #ffffff; // Màu nền mặc định

$headerColor: #BEBCBD; // Màu nền header

$secretColor: #EDEEF2; // Màu nền secret

$iconColor: #F6F6F6; // Màu icon

$purpleColor: #8A33FD; // Màu tím

$fontFamily: Nunito Sans; // Font chữ mặc định